.wrapper {
    margin:0 auto;
    position:relative;
    z-index:1;
    width:500px;
    margin-top:170px;
    left:90%;
    
}

.listing {
    margin:0 auto;
    position:relative;
    z-index:1;
    width:500px;
    margin-top:40px;
    left:90%;
    
}

.topright {
    position: absolute;
    top: 9px;
    right: -800px;
}
body{
    position:absolute;
    
}

.order-table{
	border-collapse:collapse;
}

.order-table-header{
	text-align:center;
	background:none repeat scroll 0 0 #E5E5E5;
	border-bottom:1px solid #BBBBBB;
	padding:16px;
}

.order-table-odd-row{
	text-align:center;
	background:none repeat scroll 0 0 #FFFFFF;
	border-top:1px solid #BBBBBB;
}

.order-table-even-row{
	text-align:center;
	background:none repeat scroll 0 0 #F9F9F9;
	border-top:1px solid #BBBBBB;
}

