<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>TRG Event</title>
        <h:outputStylesheet library ='css'  name ='stylecss.css'/>
    </h:head>
    <h:body>
        <div class='wrapper'>
            <h2>Add an Upcoming Event</h2>
        
        <h:form>
            <p>
                <label>EventName:
                    <h:inputText
                        id ="event"
                        value="#{recordController.event}"
                        validatorMessage="You must enter a name"/>
                </label>
                <h:message for="name"/>
            </p>
            <p>
                <label>Organizer:
                    <h:inputText 
                        id= "organizer"
                        value="#{recordController.organizer}"
                        validatorMessage="You must enter a organizer"/>
                </label>
                <h:message for="organizer"/>
            </p>
            <p>
                <label>Location:
                    <h:inputText 
                        id="location"
                        value="#{recordController.location}"
                        validatorMessage="You must enter a location"/>
                </label>
                <h:message for="location"/>
            </p>
            <p>
                <label>Date:
                    <h:inputText
                        id="time"
                        value="#{recordController.date}"
                        validatorMessage="You must enter a date"/>
                </label>
                <h:message for="time"/>
            </p>
            <p>
                <h:commandButton value="Save" action="#{recordController.create}"/>
                
            </p>
        </h:form>
        
        </div>
    </h:body>
</html>

