<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <f:metadata>

    </f:metadata>
    <h:head>
        <title>Waiting List</title>
    </h:head>
    <h:body>
        <h1>Delete Group</h1>
        <p>Are you sure you want to delete?</p>
        <h:form>
            <p>
                <label>Event Name: 
                    <h:inputText value="#{recordController.event}"
                                 validatorMessage="You must enter a event name"/>
                </label>
            </p>
            
            <p>
                <h:commandButton value="Delete" action="#{recordController.delete()}"/>
            </p>
        </h:form>
    </h:body>
</html>
