<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <f:metadata>
        
    </f:metadata>
    <h:head>
        <title>TRG Event</title>
    </h:head>
    <h:body>
        <h1>Edit Event</h1>
        <h:form>
            <p>
                <label>EventName:
                    <h:inputText
                        id ="event"
                        value="#{recordController.event}"/>
                </label>
            </p>
            <p>
                <label>Organizer:
                    <h:inputText 
                        id= "organizer"
                        value="#{recordController.organizer}"/>
                </label>
            </p>
            <p>
                <label>Location:
                    <h:inputText 
                        id="location"
                        value="#{recordController.location}"/>
                </label>
            </p>
            <p>
                <label>Date:
                    <h:inputText
                        id="date"
                        value="#{recordController.date}"/>
                </label>
            </p>
            <p>
                <h:commandButton value="Save" action="#{recordController.edit}"/>
                
            </p>
        </h:form>
    </h:body>
</html>

