<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>TRG EVENTS</title>
        <h:outputStylesheet library ='css'  name ='stylecss.css'/>
    </h:head>
    <h:body>
        <div class ='listing'>
            <h1> Welcome to TRG's EVENTS page</h1>
        <h:form>
            <p>
                <label>Username:
                    <h:inputText value="#{loginController.username}"/>
                </label>
            </p>
            <p>
                <label>Password:
                    <h:inputSecret value="#{loginController.password}"/>
                </label>
            </p>
            <p>
                <h:commandButton value="Log In" action="#{loginController.login}"/>
                
            </p>
        </h:form>
        </div>
       
    </h:body>
</html>

