<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>List Events</title>
        
        <h:outputStylesheet library ='css'  name ='stylecss.css'/>
    </h:head>
    <h:body>
        <h:form>
        <div class="topright"> Welcome #user <h:commandButton value="Logout" action="#{loginController.logout}"/> </div>
        </h:form>
        <div class ='wrapper'>
        <h1>List of upcoming Events for TRG</h1>
        <h:link value="Create Event" outcome="/CreateEvent?faces-redirect=true"/>
        <h:dataTable var="row" styleClass="order-table" value="#{recordController.allEvents}">
            <h:column>
                <f:facet name="header">
                    Event
                </f:facet>
                <h:outputText value="#{row.event}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    Organizer
                </f:facet>
                <h:outputText value="#{row.organizer}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    Location
                </f:facet>
                <h:outputText value="#{row.location}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    Date/Time
                </f:facet>
                <h:outputText value="#{row.date}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    Action
                </f:facet>
                

                
                <h:link value="Edit" outcome="EditEvent">
                    <f:param name="index" value="#{row.event}"/>
                </h:link>
                
                <h:link value="Delete" outcome="DeleteEvent">
                    <f:param name="index" value="#{row.event}"/>
                </h:link>-->
                
            </h:column>
        </h:dataTable>  
        </div>
    </h:body>
</html>

