<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>TRG Event</title>
        <h:outputStylesheet library ='css'  name ='stylecss.css'/>
    </h:head>
    <h:body>
        <div class ='wrapper'>
            <h:form>
        <h:dataTable var="row" styleClass="order-table" value="#{recordController.events}">
            <h:column>
                <f:facet name="header">
                    Event
                </f:facet>
                <h:outputText value="#{event}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    Organizer
                </f:facet>
                <h:outputText value="#{row.organizer}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    Location
                </f:facet>
                <h:outputText value="#{row.location}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    Date/Time
                </f:facet>
                <h:outputText value="#{row.date}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    Action
                </f:facet>
                <h:link value="View" outcome="ViewEvent">
                    <f:param name="index" value="#{row.event}"/>
                </h:link>
            </h:column>
        </h:dataTable>  
            <h:commandButton value="OK" action="ListEvent"/>
            </h:form>
        </div>
    </h:body>
</html>

